body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  /* font-family: 'Roboto', sans-serif !important; */
  margin: 20px;
  background-color: #ddd;
  color: #404040;
  font-weight: 600;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  border: 2px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  margin: 0 auto;
  transition: 0.5s;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.board {
  border: 10px solid black;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
}

.icons-attribution,
.game-status,
.fallen-soldier-block {
  margin-top: 10px;
  width: 400px;
  height: 100px;
}

.dark-square {
  background-color: rgb(145, 171, 120);
}

.light-square {
  background-color: rgb(241, 241, 219);
}

.player-turn-box {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  margin-bottom: 10px;
  margin: auto;
}

h4 {
  margin: 20px 0;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

.killed {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  height: 200px;
  width: auto;
}

.game-info {
  margin-left: 80px;
  background-color: #ddd;
  width: 400px;
  height: 650px;
  border-radius: 8px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.15),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.7);
}

h3 {
  font-weight: bold;
}

/* Responsive */

@media (max-width: 1185px) {
  .main {
  }

  .square {
    width: 30px;
    height: 30px;
  }

  .game-info {
    width: 200px;
    height: auto;
    font-size: 10px;
  }
}
